
.navHeader{
  padding:30px;
  background: rgba(255, 255, 255,0.7);


}
.navLogo{
  height:50px;
  display: inline-block;
  vertical-align: middle;
  padding-right: 15px;


}

.irLogo{
  height:50px;
  display: inline-block;

  vertical-align: middle;
}
.bgImg{
  opacity: 0.7;
}
body{
  background:  url('./images/splashBkg.jpg')no-repeat center center fixed;
  background-color: white;
  background-size:cover;
}

.bgImg{
  padding-top: 90px;
}

.squareText{
  width:75%;
  padding:100px;
  margin:auto;
  color:white;
  text-shadow: 2px 0px 15px black;
  font-size: 30px;
  text-align: center;
}

.footer{
   position:absolute;
   bottom:0;
   width:100%;
   background-color:white;
   padding:10px;
   opacity: 0.7

}
.urllink{
  float:right;
  padding:20px;
  right:5px;
  padding-top: 10px;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.whosTurn{
  padding-top: 50px;
  padding-bottom: 0px;
}

.subHeader{
  padding-bottom: 10px;
}
